<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta ville="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./images/borrador-logo.jpg" type="jpg" sizes="18x18" class="img-rounded">
  <title>Borrador | Représentants</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
  <link rel="stylesheet" href="./stylesheets/representants.css">
  <link rel="stylesheet" href="./stylesheets/footer.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel="stylesheet" href="./stylesheets/products.css">

 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css'>
 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css'>
 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css'>
</head>
<body>
<!-- partial:index.partial.html -->
<%- include about %>

<div id="app">
    <v-app id="inspire">
      <v-toolbar dark color="success" fixed>
        <v-toolbar-title class="white--text"><a href="/"><img src="./images/borrador-logo.jpg" alt="borrador" class="img-fluid rounded logo"></a> Représentants</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Rechercher..." single-line hide-details></v-text-field>
        <v-menu offset-y :nudge-left="170" :close-on-content-click="false">
            <v-btn icon slot="activator">
                <v-icon>more_vert</v-icon>
              </v-btn>
            <v-list>
              <v-list-tile  v-for="(item, index) in headers"  :key="item.value"   @click="changeSort(item.value)">
                <v-list-tile-title>{{ item.text }}<v-icon v-if="pagination.sortBy === item.value">{{pagination.descending ? 'arrow_downward':'arrow_upward'}}</v-icon></v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
      </v-toolbar>
          <v-layout v-resize="onResize" column style="padding-top:56px">
            <v-data-table :headers="headers" :items="villes" :search="search" :pagination.sync="pagination" :hide-headers="isMobile" :class="{mobile: isMobile}">
              <template slot="items" slot-scope="props">
                <tr v-if="!isMobile">
                  <td>{{ props.item.ville }}</td>
                  <td>{{ props.item.representants }}</td>
                  <td>{{ props.item.contacts }}</td>
                </tr>
                <tr v-else>
                  <td>
                    <ul class="flex-content">
                      <li class="flex-item" data-label="Ville">{{ props.item.ville }}</li>
                      <li class="flex-item" data-label="Représentant">{{ props.item.representants }}</li>
                      <li class="flex-item" data-label="Contact">{{ props.item.contacts }}</li>
                    </ul>
                  </td>
                </tr>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Aucun résultat pour la recherche "{{ search }}".
              </v-alert>
            </v-data-table>
          </v-layout>
    </v-app>
  </div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.js'></script><script  src="./scripts/representants.js"></script>

</body>
</html>
